# Local runtime
APP_PORT=8080
POSTGRES_DB=todo_db
POSTGRES_USER=todo_user
POSTGRES_PASSWORD=todo_password
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/todo_db
SPRING_DATASOURCE_USERNAME=todo_user
SPRING_DATASOURCE_PASSWORD=todo_password
JWT_SECRET=TXktd3MtZGV2b3BzLXRvZG8tYXBpLWJhc2U2NC1zZWNyZXQtbXVzdC1iZS1vdmVycmlkZGVuLXRvLXByb2Q=
JWT_EXPIRATION_MINUTES=60
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
APP_ADMIN_EMAILS=admin@ws.local

# Docker / CI
DOCKER_IMAGE=your-dockerhub-user/ws-devops-todo-api:latest
DOCKER_USERNAME=your-dockerhub-user

# Terraform / AWS
AWS_REGION=ap-south-1
TF_VAR_aws_region=ap-south-1
TF_VAR_instance_type=t3.micro
TF_VAR_key_name=replace-with-your-ec2-keypair
TF_VAR_postgres_db=todo_db
TF_VAR_postgres_user=todo_user
TF_VAR_postgres_password=replace-with-a-strong-password
TF_VAR_jwt_secret=replace-with-a-long-base64-jwt-secret
